body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.divext{
    background: #084f85;
    padding: 50px;
    color:white;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top:25px
}

input{
  background: #003b67;
  color:white;
  border:solid 1px white;
  text-align: center;
  width:150px ;
  padding:1px;
  font-size: 20px;
  font-weight: 700;
}

.divForm{
  display: flex;
  padding-right: 100px;
  padding-left: 100px;
  flex-direction: row;
  justify-content: space-between;
}

.divint{
  background: #003b67;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}

.bot1{
  background:#17aa8d;
  color:white;
  padding: 10px;
  font-size: x-large;
  width: 350px;
  font-weight: 700;
}

.flex{
  display:flex
}

.c-fija-d{
  display: flex;
  padding-right: 50px;
  padding-left: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.c-fija-s{
  font-size: 40px;
  font-weight: 800;
}

.bot2{
  background: #0b548b;
  color:white;
  padding: 10px;
  width: 180px;
  font-size: 15px;
  margin-left:15px;
  font-weight: 700;
}

.titulo{
  color:white;
  padding:50px;
  font-size: xx-large;
  font-weight: 900;
  display: inline-block;
}

.c-slider{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5rem;
}

.et-mm{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.c-detalle{
  background:#043051;
  margin-left:49px;
  margin-right:49px
}

.error{
  color:red;
  padding:10px
}